* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}